*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;

    background-color: #ffe600;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 40px;

    border-bottom: 3px solid #2d3277;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    font-size: 30px;
    color: #2d3277;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar a{
    text-decoration: none;

    color: #000000;

    font-size: 18px;
    font-weight: bold;

    transition: 0.3s;
}

.navbar a:hover{
    color: #2d3277;
}

/* RESPONSIVIDADE */

@media(max-width: 767px){

    .header{
        flex-direction: column;
        gap: 20px;

        padding: 20px;
    }

    .navbar{
        flex-direction: column;
    }

}