.aluno {
    width: 200px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(153, 255, 218);
    text-align: center;
    color: black;
}

.img-perfil {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
