
* {
    /* Reset CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
   section: borda, padding
   altura 800px
   largura 920px centralizado

*/

.sessao-noticias {
    width: 920px;
    height: 800px;

    display: flex;
    justify-content: center;
    gap : 20px;
    padding : 20px;
    border:1px dashed salmon ;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
/*
   article: cor de fundo, cor do texto
   deixar em coluna, centralizado nos dois

*/


body {
    display: flex;
    justify-content: center;
    align-items: center;
}   


.noticia{
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: salmon;
    color: #fff;
    box-sizing: border-box;
  
}