/*DESKTOP FIRST*/
/* DESKTOP >= 992px até o infinito */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}   

/* Desktop */

h1{
    font-family:Arial, Helvetica, sans-serif

}

/* Breaking points| Ponto de quebrada do layout */
/* tablets < 992px (768px até 991px)*/
@media screen and (max-width: 991px) {
   h1 {
    color: green;
   } 
   .icone{
    display: none;
  
   }
}
/* Smartphones < 772px (0px até 767px)*/
@media screen and (max-width: 767px) {
    h1 {
        color:white;
        background-color: pink;
    }
    .icone
    {
        display: flex;
    }
     
}