@font-face {
    font-family: Architects;
    src: url(../css/fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right bottom,#18a2c9,#72C3BD) ;
    background-repeat: no-repeat;
    
}
.container{
    width: 100%;
  max-width: 1200px;
  margin: 0 auto;   
  /* border: 1px solid white; */

}   
.container--flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   
.form-header__image-perfil{
    width:100px;
    padding: 20px;
 box-shadow: 0 0 7px rgba(222, 210, 124, 0.2)   ;
}
.form-header__title{
    color: #DED27C;
    font-family: Architects, sans-serif;
}
.form-header__text{
    font-family:'Courier New', Courier, monospace;
}

/* Formulario de contato*/
.form-contact{
    padding: 20px;
}
.form-contact__linha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin-bottom: 15px;
    /* height:60px; */
    /* border: 1px solid yellowgreen */
}
.form-contact__col-a{

    width:20%;
    height:100%;
    /* border: 1px solid red; */

}
.form-contact__col-b{
    display: flex;
    justify-content: space-between;
    width:90%;
    height:100%;
    /* border: 1px solid red; */
}   
.form-contact__label{
    color: white;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}


/* tudo o que é padrao nos inputs ficara aqui */
.form-contact__input{
    padding: 5px 10px;
    height:35px;
    color:#18a2c9;
    border:none;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    outline: none;
    transition: background-color 0.4s ease, color 0.4s;
    
}
.form-contact__input--metade{
/* deixar um espaço para trabalhar entre eles */
    width: 48%;
}
.form-contact::placeholder{
    color: #18a2c9;
   
}

.form-contact__input:focus{
    background-color: #18a2c9;
    color: white;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.form-contact__input--metade{
   /* deixar um espaço pra trabalhar entre eles */
   width:48%;
}
.form-contact__input--inteiro{
    width:100%; 

}